@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.product-card {
  width: 360px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 30px auto;
  background: #fafafa;
  gap: 30px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.product-tumb img {
  max-width: 90%;
  max-height: 90%;
}

.product-details {
  padding: 20px;
}

.product-catagory {
  display: block;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details a {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-price {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #fbb72c;
  font-weight: 600;
}
.gap {
  display: flex;
  justify-content: flex-end;
}
.font-change {
  font-weight: bold;
  cursor: pointer;
}
